*{
  padding: 0px;
  margin: 0px;
}
.main{
  background-image: url("links/images/backgroundnetflix.jpg");
  background-position: center center ;
  background-size: max(900px , 100vw);
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}
.main .box{
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  background-color: black;
  position: absolute;
  top: 0;
}
 nav{
  display: flex;
  max-width: 80vw;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}